/configure router interface LAG-30 bfd 100 multiplier 3 receive 100 
/configure router ldp interface-parameters interface LAG-30 bfd-enable ipv4
/configure router rsvp interface LAG-30 bfd-enable 
/configure router mpls interface LAG-30
/configure router isis interface LAG-30 bfd-enable ipv4
/configure router interface N-100G-1/1/c1/1 bfd 100 multiplier 3 receive 100 
/configure router ldp interface-parameters interface N-100G-1/1/c1/1 bfd-enable ipv4
/configure router rsvp interface N-100G-1/1/c1/1 bfd-enable 
/configure router mpls interface N-100G-1/1/c1/1
/configure router isis interface N-100G-1/1/c1/1 bfd-enable ipv4
/configure router interface N-100G-1/1/c3/1 bfd 100 multiplier 3 receive 100 
/configure router ldp interface-parameters interface N-100G-1/1/c3/1 bfd-enable ipv4
/configure router rsvp interface N-100G-1/1/c3/1 bfd-enable 
/configure router mpls interface N-100G-1/1/c3/1
/configure router isis interface N-100G-1/1/c3/1 bfd-enable ipv4
/configure router interface N-LAG-15:3102 bfd 100 multiplier 3 receive 100 
/configure router ldp interface-parameters interface N-LAG-15:3102 bfd-enable ipv4
/configure router rsvp interface N-LAG-15:3102 bfd-enable 
/configure router mpls interface N-LAG-15:3102
/configure router isis interface N-LAG-15:3102 bfd-enable ipv4
