/configure port 1/1/c1/1 ethernet mtu 9212
/configure port 1/1/c1/1 ethernet lldp dest-mac nearest-bridge tx-mgmt-address system 
/configure port 1/1/c1/1 ethernet lldp dest-mac nearest-bridge admin-status tx-rx
/configure port 1/1/c1/1 ethernet lldp dest-mac nearest-bridge tx-tlvs port-desc sys-name sys-desc sys-cap
/configure port 1/1/c1/1 ethernet lldp dest-mac nearest-bridge notification
/configure port 1/1/c2/1 ethernet mtu 9212
/configure port 1/1/c2/1 ethernet lldp dest-mac nearest-bridge tx-mgmt-address system 
/configure port 1/1/c2/1 ethernet lldp dest-mac nearest-bridge admin-status tx-rx
/configure port 1/1/c2/1 ethernet lldp dest-mac nearest-bridge tx-tlvs port-desc sys-name sys-desc sys-cap
/configure port 1/1/c2/1 ethernet lldp dest-mac nearest-bridge notification
/configure port 1/1/c3/1 ethernet mtu 9212
/configure port 1/1/c3/1 ethernet lldp dest-mac nearest-bridge tx-mgmt-address system 
/configure port 1/1/c3/1 ethernet lldp dest-mac nearest-bridge admin-status tx-rx
/configure port 1/1/c3/1 ethernet lldp dest-mac nearest-bridge tx-tlvs port-desc sys-name sys-desc sys-cap
/configure port 1/1/c3/1 ethernet lldp dest-mac nearest-bridge notification
/configure port 1/1/c4/1 ethernet mtu 9212
/configure port 1/1/c4/1 ethernet lldp dest-mac nearest-bridge tx-mgmt-address system 
/configure port 1/1/c4/1 ethernet lldp dest-mac nearest-bridge admin-status tx-rx
/configure port 1/1/c4/1 ethernet lldp dest-mac nearest-bridge tx-tlvs port-desc sys-name sys-desc sys-cap
/configure port 1/1/c4/1 ethernet lldp dest-mac nearest-bridge notification
/configure port 1/1/c5/1 ethernet mtu 9212
/configure port 1/1/c5/1 ethernet lldp dest-mac nearest-bridge tx-mgmt-address system 
/configure port 1/1/c5/1 ethernet lldp dest-mac nearest-bridge admin-status tx-rx
/configure port 1/1/c5/1 ethernet lldp dest-mac nearest-bridge tx-tlvs port-desc sys-name sys-desc sys-cap
/configure port 1/1/c5/1 ethernet lldp dest-mac nearest-bridge notification
/configure port 1/1/c6/1 ethernet mtu 9212
/configure port 1/1/c6/1 ethernet lldp dest-mac nearest-bridge tx-mgmt-address system 
/configure port 1/1/c6/1 ethernet lldp dest-mac nearest-bridge admin-status tx-rx
/configure port 1/1/c6/1 ethernet lldp dest-mac nearest-bridge tx-tlvs port-desc sys-name sys-desc sys-cap
/configure port 1/1/c6/1 ethernet lldp dest-mac nearest-bridge notification
/configure port 1/1/c7/1 ethernet mtu 9212
/configure port 1/1/c7/1 ethernet lldp dest-mac nearest-bridge tx-mgmt-address system 
/configure port 1/1/c7/1 ethernet lldp dest-mac nearest-bridge admin-status tx-rx
/configure port 1/1/c7/1 ethernet lldp dest-mac nearest-bridge tx-tlvs port-desc sys-name sys-desc sys-cap
/configure port 1/1/c7/1 ethernet lldp dest-mac nearest-bridge notification
/configure port 1/1/c8/1 ethernet mtu 9212
/configure port 1/1/c8/1 ethernet lldp dest-mac nearest-bridge tx-mgmt-address system 
/configure port 1/1/c8/1 ethernet lldp dest-mac nearest-bridge admin-status tx-rx
/configure port 1/1/c8/1 ethernet lldp dest-mac nearest-bridge tx-tlvs port-desc sys-name sys-desc sys-cap
/configure port 1/1/c8/1 ethernet lldp dest-mac nearest-bridge notification
/configure port 1/1/c9/1 ethernet mtu 9212
/configure port 1/1/c9/1 ethernet lldp dest-mac nearest-bridge tx-mgmt-address system 
/configure port 1/1/c9/1 ethernet lldp dest-mac nearest-bridge admin-status tx-rx
/configure port 1/1/c9/1 ethernet lldp dest-mac nearest-bridge tx-tlvs port-desc sys-name sys-desc sys-cap
/configure port 1/1/c9/1 ethernet lldp dest-mac nearest-bridge notification
/configure port 1/1/c10/1 ethernet mtu 9212
/configure port 1/1/c10/1 ethernet lldp dest-mac nearest-bridge tx-mgmt-address system 
/configure port 1/1/c10/1 ethernet lldp dest-mac nearest-bridge admin-status tx-rx
/configure port 1/1/c10/1 ethernet lldp dest-mac nearest-bridge tx-tlvs port-desc sys-name sys-desc sys-cap
/configure port 1/1/c10/1 ethernet lldp dest-mac nearest-bridge notification
